<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3" style="text-align: center;">Saved Articles</h1>
	</div>
</div>
<div class="savedArticles">
	{{#unless data.length}}
	<div class="alert alert-warning" role="alert">
		<p style="text-align: center;"><strong>Uh Oh!</strong> It doesn't look like you have any saved articles</p>
	</div>
	{{/unless}}
	{{#if data.length}}
		{{#each data}}
			<div class="alert alert-success" role="alert" style='text-align: center;'>
				<h3><a href={{link}} class="alert-link">{{title}}</a></h3>
				<p>{{summary}}</p>
				<button class="delete" type="button" class="btn btn-secondary" data-value={{_id}} onClick="notes.call(this)">Article Notes</button>
				<button class="delete" type="button" class="btn btn-secondary" data-value={{_id}} onClick="deleteSaved.call(this)">Delete From Saved</button>
			</div>
		{{/each}}
	{{/if}}
</div>